<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p>From <%= @name %>:</p>
		<p><%= @message %></p>
		<br /><br />
		<p>To reply, just hit reply and respond.</p>
	</body>
</html>