<p>This will be where people logged in will set their settings and modify their profile, maybe write us messages</p>

<div class="bg-pattern-1">  
      <div class="row">
        <div class="col col-1-3 content-block">
          <h2>License Option One</h2>
          <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those.</p>
        </div><!-- .col -->
        <div class="col col-1-3 content-block">
          <h2>License Option Two</h2>
          <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those.</p>
        </div><!-- .col -->
        <div class="col col-1-3 content-block">
          <h2>License Option Three</h2>
          <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those.</p>
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .bg-pattern-1 -->

    <div class="v-space v-space-9"></div>

    <div class="container">

    <div class="v-space v-space-7"></div>

    <div class="row">
      <div class="col">
        <h1>Heading One</h1>
        <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us.</p>
        <p>We have an infinite amount to learn both from nature and from each other</p>
        <p>The Earth was small, light blue, and so touchingly alone, our home that must be defended like a holy relic. The Earth was absolutely round. I believe I never knew what the word round meant until I saw Earth from space.</p>
      </div><!-- .col -->
    </div><!-- .row -->  

    <div class="v-space v-space-10"></div>

  </div><!-- .container -->