<div class="container">
	<%= @message %> We will respond within <%= @duration %> business days.
	<div class="v-space v-space-9"></div>
	<div class="v-space v-space-9"></div>
	<div class="v-space v-space-9"></div>
	<div class="v-space v-space-9"></div>
</div>