<div class="container">
	<p>This will be the page they will go to when they download a file, give info about finding more music and using the correct license.</p>

	<p>File that would be downloaded: <%= @file %></p>
</div>