<div class="container">
	<p>Research cue sheets, this won't be something we go live with right away, because we won't need them. But when we do, see what other people do to explain it. From my research, they just explained what a cue sheet was.</p>
</div>