<div class="main">

  <div class="parallax parallax-2">

    <div class="container">

      <div class="row">
        <div class="col-1-1 text-center">
          <h1>Interior Page</h1>
        </div>
      </div><!-- .row -->

    </div><!-- .container -->
  
  </div><!-- .parallax --> 

  <div class="v-space v-space-9"></div>

  <div class="container group">

    <div class="row">
      <div class="col col-1-3 content-block">
        <img class="img-styled-1" src="<%= image_path 'block-1.jpg' %>" alt="Alt Tag">
        <div class="v-space v-space-1"></div>
        <h2>Headline Goes Here</h2>
        <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those.</p>
      </div><!-- .col -->
      <div class="col col-1-3 content-block">
        <img class="img-styled-1" src="<%= image_path 'block-2.jpg' %>" alt="Alt Tag">
        <div class="v-space v-space-1"></div>
        <h2>Content Block</h2>
        <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those.</p>
      </div><!-- .col -->
      <div class="col col-1-3 content-block">
        <img class="img-styled-1" src="<%= image_path 'block-3.jpg' %>" alt="Alt Tag">
        <div class="v-space v-space-1"></div>
        <h2>Another Headline</h2>
        <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those.</p>
      </div><!-- .col -->        
    </div><!-- .row -->

    <div class="v-space v-space-9"></div>

  </div><!-- .container -->

  <div class="feat-block-wide group">

    <div class="container">

      <div class="row text-center">
        <div class="col col-1-1">
          <h1>Featured Block</h1>
        </div><!-- .col -->
        <div class="v-space v-space-3"></div>
        <div class="col col-1-4">
          <i class="fa fa-cloud-download" aria-hidden="true"></i>
          <h3>Headline Goes Here</h3>
          <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those.</p>
        </div><!-- .col -->
        <div class="col col-1-4">
          <i class="fa fa-history" aria-hidden="true"></i>
          <h3>Content Block</h3>
          <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those.</p>
        </div><!-- .col -->
        <div class="col col-1-4">
          <i class="fa fa-shield" aria-hidden="true"></i>
          <h3>Another Headline</h3>
          <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those.</p>
        </div><!-- .col -->  
        <div class="col col-1-4">
          <i class="fa fa-gears" aria-hidden="true"></i>
          <h3>Another Headline</h3>
          <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those.</p>
        </div><!-- .col -->  
      </div><!-- .row -->  

    </div><!-- .container -->

  </div> <!-- .feat-block-wide -->

  <div class="v-space v-space-8"></div>

  <div class="container group">

    <div class="row">
      <div class="v-space v-space-3"></div>
      <div class="col col-3-5">
        <h2>FAQs</h2>
        <div class="accordion faq-accordion">
          <div class="accordion-toggle"><i class="fa fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-minus-circle" aria-hidden="true"></i> How do I need to credit you for your music?</div>
          <div class="accordion-content">You can read about the Creative Commons license we have chosen here. It is important to us that we offer as much music as we can free of charge for people to use how they see fit.  The only thing that we ask is that we get credit for the work that we do. We would like credit to be given in this format.</div>
          <div class="accordion-toggle"><i class="fa fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-minus-circle" aria-hidden="true"></i> What can I use your music for?</div>
          <div class="accordion-content">Our music is intended to be used in any project that needs a little something extra.  This includes all video production possibilities (vlogs, gaming videos, home movies, commercials, etc.) as well as video games, plays, live streams, whatever! As long as you give us credit for our work in your project or purchase a licensed version of the song/songs you would like to use, you can use our music for ANY purpose.</div>
          <div class="accordion-toggle"><i class="fa fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-minus-circle" aria-hidden="true"></i> Royalty-Free vs Creative Commons?</div>
          <div class="accordion-content">You will see a lot of sites that promote royalty-free music, but you still have to purchase a license to download it. By releasing our music under the Creative Commons license, we are allowing everyone to download and use the music for free. Royalty-free means that if money is made on the content, the creator of the content does not receive a fee. Our music is royalty-free and it is free to download!</div>
          <div class="accordion-toggle"><i class="fa fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-minus-circle" aria-hidden="true"></i> What is the meaning of life?</div>
          <div class="accordion-content">You will see a lot of sites that promote royalty-free music, but you still have to purchase a license to download it. By releasing our music under the Creative Commons license, we are allowing everyone to download and use the music for free. Royalty-free means that if money is made on the content, the creator of the content does not receive a fee. Our music is royalty-free and it is free to download!</div>
          <div class="accordion-toggle"><i class="fa fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-minus-circle" aria-hidden="true"></i> What's the difference between bass and treble?</div>
          <div class="accordion-content">You will see a lot of sites that promote royalty-free music, but you still have to purchase a license to download it. By releasing our music under the Creative Commons license, we are allowing everyone to download and use the music for free. Royalty-free means that if money is made on the content, the creator of the content does not receive a fee. Our music is royalty-free and it is free to download!</div>
        </div>
      </div><!-- .col -->
      <div class="col col-2-5">
        <h2>Contact Us</h2>
        <div class="contact-form-wrap">
          <form action="#" method="post">
            <div>
              <input placeholder="Your Name" type="text" name="name" value="" tabindex="1" />
            </div>   
            <div>
              <input placeholder="Email Address" type="text" name="email" value="" tabindex="1" />
            </div> 
            <div>
              <input placeholder="Phone Number" type="text" name="phone" value="" tabindex="1" />
            </div> 
            <div>
              <input placeholder="Favorite Song" type="text" name="song" value="" tabindex="1" />
            </div>   
            <div>
              <textarea placeholder="Your Message" rows="8" name="textarea" id="textarea"></textarea>
            </div>
            <div>
              <input type="submit" value="Submit" />
            </div>
          </form>
        </div><!-- .contact-form-wrap -->
      </div><!-- .col -->  
    </div><!-- .row -->  

  </div><!-- .container -->

  <div class="v-space v-space-12"></div>