<div class="container">
	<p>This would just be information about all of our licenses that we offer. At launch, that would be 3 different ones: Creative Commons, Creative Commons without Attribution and Commercial License.</p>
</div>