<div class="container">
	<div class="parallax parallax-about-us">

    <div class="container">

      <div class="row">
        <div class="col-1-1 text-center">
          <h1>About Us</h1>
        </div>
      </div><!-- .row -->

    </div><!-- .container -->
  
  </div><!-- .parallax --> 

  <div class="v-space v-space-9"></div>
	<p>After creating <a href="http://www.twinmusicom.org" target="_blank">Twin Musicom</a>, a successful royalty free music website, Monoform developed a licensing music platform from the ground up. We make music licensing simple and transparent. For our artists, we provide visibility, resources to get setup in the world of selling music and detailed reports about the use of their music. For our clients, we provide the easiest music search engine, unique pre-cleared music, and easy and affordable licensing.</p>
	<p><b>Monoform</b> is a music licensing company that respects the artists. Being musicians ourselves, we saw that other licensing businesses are taking the vast majority of the money made in selling a license. We aren’t OK with that, so we decided to start our own company to do things differently, the way we feel is fair. As an artist, you’ve done the hard work of honing your work, let Monoform do the rest…</p>
	<p>Find out more about becoming a <a href="/support/submit">Monoform artist</a></p>
</div>

<div class="v-space v-space-9"></div>

<div class="container group">
  <h1>Monoform is</h1>
  <div class="row">
    <div class="col col-1-3 content-block">
      <img class="img-styled-1" src="<%= image_path 'matt.jpg' %>" alt="Matt Luchau Headshot">
      <div class="v-space v-space-1"></div>
      <h2>Matt Luchau</h2>
      <p>Matt works with customers.</p>
    </div><!-- .col -->
    <div class="col col-1-3 content-block">
      <img class="img-styled-1" src="<%= image_path 'kenyon.jpg' %>" alt="Kenyon Rosewall Headshot">
      <div class="v-space v-space-1"></div>
      <h2>Kenyon Rosewall</h2>
      <p>Kenyon works with technology.</p>
    </div><!-- .col -->
    <div class="col col-1-3 content-block">
      <img class="img-styled-1" src="<%= image_path 'ilya.jpg' %>" alt="Ilya Begelman Headshot">
      <div class="v-space v-space-1"></div>
      <h2>Ilya Begelman</h2>
      <p>Ilya works with business development.</p>
    </div><!-- .col -->        
  </div><!-- .row -->

  <div class="v-space v-space-9"></div>

</div><!-- .container -->