	<div class="feat-block-wide group">

	    <div class="container">

	      <div class="row text-center">
	        <div class="col col-1-1">
	          <h1>Licensing</h1>
	        </div><!-- .col -->
	        <div class="v-space v-space-3"></div>
	        <div class="col col-1-4">
	          <i class="fa fa-handshake-o" aria-hidden="true"></i>
	          <h3>How to license</h3>
	          <p>Browse our library of pre-cleared music to find the perfect tracks for your project.  Then, <a href="/support/contact_us">contact us</a> and let us know the details of your project so we can quickly get you the license you need for a price that fits the budget.</p>
	        </div><!-- .col -->
	        <div class="col col-1-4">
	          <i class="fa fa-usd" aria-hidden="true"></i>
	          <h3>What the artist gets</h3>
	          <p>When you are a Monoform artist, you get what you deserve.  We split our license fees 50/50... and couldn’t be happier about it!  This is how we think music licensing should be done: Transparently and Fairly.</p>
	        </div><!-- .col -->
	        <div class="col col-1-4">
	          <i class="fa fa-sliders" aria-hidden="true"></i>
	          <h3>Customize</h3>
	          <p>If you need a custom track, or need an existing track customized or stemmed, we are more than happy to assist.</p>
	        </div><!-- .col -->  
	        <div class="col col-1-4">
	          <i class="fa fa-envelope" aria-hidden="true"></i>
	          <h3>Contact us</h3>
	          <p>For assistance with licensing, or questions about our artists or tracks, <a href="/support/contact_us">send us a message</a>.  If you’d like to become a Monoform artist, <a href="/support/submit">submit your music</a>.</p>
	        </div><!-- .col -->  
	      </div><!-- .row -->  

	    </div><!-- .container -->

	  </div> <!-- .feat-block-wide -->

<div class="container">
	<h2>How licensing works</h2>
        <div class="accordion faq-accordion">
          <div class="accordion-toggle"><i class="fa fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-minus-circle" aria-hidden="true"></i> How do I need to credit you for your music?</div>
          <div class="accordion-content">You can read about the Creative Commons license we have chosen here. It is important to us that we offer as much music as we can free of charge for people to use how they see fit.  The only thing that we ask is that we get credit for the work that we do. We would like credit to be given in this format.</div>
          <div class="accordion-toggle"><i class="fa fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-minus-circle" aria-hidden="true"></i> What can I use your music for?</div>
          <div class="accordion-content">Our music is intended to be used in any project that needs a little something extra.  This includes all video production possibilities (vlogs, gaming videos, home movies, commercials, etc.) as well as video games, plays, live streams, whatever! As long as you give us credit for our work in your project or purchase a licensed version of the song/songs you would like to use, you can use our music for ANY purpose.</div>
          <div class="accordion-toggle"><i class="fa fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-minus-circle" aria-hidden="true"></i> Royalty-Free vs Creative Commons?</div>
          <div class="accordion-content">You will see a lot of sites that promote royalty-free music, but you still have to purchase a license to download it. By releasing our music under the Creative Commons license, we are allowing everyone to download and use the music for free. Royalty-free means that if money is made on the content, the creator of the content does not receive a fee. Our music is royalty-free and it is free to download!</div>
          <div class="accordion-toggle"><i class="fa fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-minus-circle" aria-hidden="true"></i> What is the meaning of life?</div>
          <div class="accordion-content">You will see a lot of sites that promote royalty-free music, but you still have to purchase a license to download it. By releasing our music under the Creative Commons license, we are allowing everyone to download and use the music for free. Royalty-free means that if money is made on the content, the creator of the content does not receive a fee. Our music is royalty-free and it is free to download!</div>
          <div class="accordion-toggle"><i class="fa fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-minus-circle" aria-hidden="true"></i> What's the difference between bass and treble?</div>
          <div class="accordion-content">You will see a lot of sites that promote royalty-free music, but you still have to purchase a license to download it. By releasing our music under the Creative Commons license, we are allowing everyone to download and use the music for free. Royalty-free means that if money is made on the content, the creator of the content does not receive a fee. Our music is royalty-free and it is free to download!</div>
        </div>
	<ul>
		<li>
			How does licensing work
			<ul>
				<li>Talk about different ways to license</li>
				<li>Ownership</li>
				<li>Different models</li>
				<li>How we do it</li>
			</ul>
		</li>

	</ul>
</div>